/* ******************************************************************************** */
/* ******************************************************************************** */
/* BELOW 900px */
/* ******************************************************************************** */
/* ******************************************************************************** */
@media (max-width: 900px) {

/* ******************************************************************************** */
/* HEADER */
    .Logo a {
        font-size: 1rem;
    }

    .Nav_links ul li a{
        font-size: 0.8rem;
    }

    .Nav_links_pages {
        font-size: 0.8rem;
    }

    .Header_login_btn a {
        font-size: 1rem;
    }

    .Search_box input {
        width: 100px;
        height: 30px;
        font-size: 9px;
    }

    .Search_box button {
        margin-right: 5px;
        font-size: 15px;
    }


/* ******************************************************************************** */
/* HERO */
    .Hero h1 {
        font-size: 2.5rem;
    }

    .Hero p {
        font-size: 0.9rem;
    }

    .Hero-content_btn {
        font-size: 0.8rem;
    }

/* ******************************************************************************** */
/* LEARN */
    .Learn_section::before {
        width: 115%;
        height: 115%;
    }

    .Learn_section h1 {
        font-size: 2.5rem;
    }

    .Learn_section p {
        font-size: 0.9rem;
    }

    .Learn_content li {
        font-size: 0.9rem;
    }

    .Learn_content_btn {
        font-size: 0.8rem;
    }


/* ******************************************************************************** */
/* GROW */
    .Grow_title {
        font-size: 2.5rem;
    }

    .Grow_subtitle {
        font-size: 1rem;
    }

    .Grow_section_btn a {
        font-size: 0.8rem;
    }

/* ******************************************************************************** */
/* GROW */
    .About_content h1 {
        font-size: 2.5rem;
    }

    .About_content p {
        font-size: 0.9rem;
    }

    .About_content_btn {
        font-size: 0.8rem;
    }



    
/* ******************************************************************************** */
/* 900px CLOSING */
}



/* ******************************************************************************** */
/* ******************************************************************************** */
/* BELOW 768px */
/* ******************************************************************************** */
/* ******************************************************************************** */
@media (max-width: 768px) {

/* ******************************************************************************** */
/* HEADER */
    .Hero h1 {
        font-size: 2.5rem;
    }

    .Hero p {
        font-size: 14px;
    }

    .Hero-content_btn {
        font-size: 12px;
    }

    .Nav_links {
        display: none;
    }

    .Header_login_btn {
        display: none;
    }

    .Right_items {
        position: relative;
        right: 60px;
    }

    .Search_box {
        height: 30px;
    }

    .Menu_icon {
        display: block;
    }

    .Sidebar {
        display: flex;
    }

    .Dropdown {
        width: 200px;
    }

/* ******************************************************************************** */
/* HERO */
    .Hero h1 {
        font-size: 2rem;
    }

    .Hero p {
        font-size: 0.8rem;
    }

    .Hero-content_btn {
        font-size: 0.6rem;
    }


/* ******************************************************************************** */
/* LEARN */

    .Learn_section::before {
        width: 100%;
        height: 100%;
    }

    .Learn_section h1 {
        font-size: 2rem;
    }

    .Learn_section p {
        font-size: 0.8rem;
    }

    .Learn_content li {
        font-size: 0.8rem;
    }

    .Learn_content_btn {
        font-size: 0.6rem;
    }


/* ******************************************************************************** */
/* GROW */
    .Grow_section_btn a {
        font-size: 0.6rem;
    }


/* ******************************************************************************** */
/* ABOUT */

    .About_section {
        height: 500px;
    }

    .About_image img {
        margin-top: 0;
    }

    .About_content h1 {
        font-size: 2rem;
    }

    .About_content p {
        font-size: 0.8rem;
    }

    .About_content_btn {
        font-size: 0.6rem;
    }





/* 768px CLOSING */
}




/* ******************************************************************************** */
/* ******************************************************************************** */
/* BELOW 480px */
/* ******************************************************************************** */
/* ******************************************************************************** */
@media (max-width: 480px) {
/* ******************************************************************************** */
/* ABOUT */

    .About_section {
        height: 650px;
    }
    .About_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .About_image {
        width: 80%;
        margin-bottom: 0;
    }

    .About_content {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0; 
    }
    .About_content p {
        padding: 0;
        margin-top: 10px;
    }
    



/*  480px CLOSING */
}







/* ************************************************************************************** */
/* ************************************************************************************** */

/* NEWS */
    /* .News_Section {
        flex-direction: column;
    }

    .News_right_content {
        width: 60%;
    }

    .News_left_content {
        width: 80%;
    }

    .News_article {
        flex-direction: column;
    } */


/* ******************************************************************************************************************************************** */
/* ******************************************************************************************************************************************** */
/* LEARN */
    /* .Learn_content {
        max-width: 500px;
    } */




