/* Global reset if not already defined */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Ensure the body doesn't overlap the fixed header */
  html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: 'Orbitron', 'Oxanium', 'Syncopate', 'Exo 2', 'Teko', 'Rajdhani', 'Audiowide', 'Quantico', 'Zen Dots', 'Big Shoulders Stencil Text', sans-serif;
    overflow-x: hidden;
    color: white;
  }
  
  /* Learn Underdevelopment Section */
  .Learn_underdevelopment_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }
  
  /* Background Video for Learn Page */
  #Learn_bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 1;
  }
  
  /* Overlay Content for Learn Page */
  .Learn_underdevelopment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    padding: 20px;
    color: #fff;
    text-align: center;
    z-index: 2; 
    background: rgb(26 13 14 / 45%);/* Light transparent background */
    backdrop-filter: blur(10px); /* Apply blur to the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    /* The animation is applied to the box-shadow for the glowing effect */
    animation: glowingBorder 5s linear infinite;
  }
        /* Define keyframes for the glowing border animation */
@keyframes glowingBorder {
    0% {
        box-shadow: 0 0 10px #404A7A, 0 0 20px #82b1a5;
    }
    20% {
        box-shadow: 0 0 10px #1b1614, 0 0 20px #354445;
    }
    40% {
        box-shadow: 0 0 10px #2E0812, 0 0 20px #2E0812;
    }
    60% {
        box-shadow: 0 0 10px #314C5A, 0 0 20px #3C387C;
    }
    80% {
        box-shadow: 0 0 10px #2A1636, 0 0 20px #2A1636;
    }
    100% {
        box-shadow: 0 0 10px #53499C, 0 0 20px #56341a;
    }
  }


  .Learn_underdevelopment h1 {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #0ff;
    margin-bottom: 1rem;
  }

.Learn_underdevelopment p {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: #ccc;
}

  