.Page_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 700px;
}


.Background_Animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../Img/wallpaperflare.com_wallpaper\ \(2\).jpg');
    background-size: cover;
    opacity: 0.7;
}

.Content_Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;
    padding: 20px;
    z-index: 10;
    background: rgb(26 13 14 / 45%);/* Light transparent background */
    backdrop-filter: blur(10px); /* Apply blur to the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    /* The animation is applied to the box-shadow for the glowing effect */
    animation: glowingBorder 5s linear infinite;
}

        /* Define keyframes for the glowing border animation */
        @keyframes glowingBorder {
            0% {
                box-shadow: 0 0 10px #2F454A, 0 0 20px #3A4951;
            }
            20% {
                box-shadow: 0 0 10px #1b1614, 0 0 20px #354445;
            }
            40% {
                box-shadow: 0 0 10px #2E0812, 0 0 20px #2E0812;
            }
            60% {
                box-shadow: 0 0 10px #314C5A, 0 0 20px #3C387C;
            }
            80% {
                box-shadow: 0 0 10px #2A1636, 0 0 20px #2A1636;
            }
            100% {
                box-shadow: 0 0 10px #53499C, 0 0 20px #2F454A;
            }
          }

.Quote {
    font-size: 1.2rem;
    color: #0ff;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-weight: lighter;
    animation: fadeIn 2s ease-in-out;
}

.Under_Construction_Message {
    font-size: 1.25rem;
    font-family: 'Oxanium', sans-serif;
    margin-top: 20px;
    color: white;
    animation: slideIn 2s ease-in-out;
}
.Casual_Invite {    
    font-family: 'Oxanium', sans-serif;
    font-size: 1rem;
    margin-top: 15px;
    color: #ffffff;
}
.Casual_Invite a {
    color: #FBDC59;
    text-decoration: none;
    font-weight: bold;
}
.Casual_Invite a:hover {
    text-decoration: underline;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes slideIn {
    from { opacity: 0; transform: translateX(-30px); }
    to { opacity: 1; transform: translateX(0); }
}
@media (max-width: 900px) {
    .Quote { font-size: 1.25rem; }
    .Under_Construction_Message { font-size: 1.125rem; }
}
@media (max-width: 768px) {
    .Content_Wrapper { width: 80%;}
    .Quote { font-size: 1.125rem; }
    .Under_Construction_Message { font-size: 1rem; }
}
@media (max-width: 480px) {
    .Quote { font-size: 1rem; }
    .Under_Construction_Message { font-size: 0.875rem; }
}