* {
    /* max-width: 100%; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BODY */
html body {
    background-color: black;
    font-family: 'Orbitron', 'Oxanium', 'Syncopate', 'Exo 2', 'Teko', 'Rajdhani', 'Audiowide', 'Quantico', 'Zen Dots', 'Big Shoulders Stencil Text', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 0 0 0;
    overflow-x: hidden;
}

/* ****************************************************************************** */
/* HEADER */
header  {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    top: 0;
    padding: 10px 20px;
    margin-top: 0px;
    color: #333;
    background-color: black;
    border-bottom: 0.01px solid #0ff;
    /* overflow: hidden; */
    z-index: 100;
}

/* Background Objects Animation (For Header) */
/* Background Objects Animation (For Header) */
.Header_space_objects {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0; /* Keeps objects behind text */
    overflow: hidden;
}

/* General Space Objects */
.space_object {
    position: absolute;
    opacity: 0.5;
}

/* Stars move at 45-degree angle, fade smoothly & glitter */
.star {
    animation: move45deg 25s linear infinite, glitterEffect 2s infinite alternate;
}

/* Planets remain fixed but scale up/down */
.planet {
    animation: glitterEffect 2s infinite alternate;
}

/* Stars Move at 45 Degrees */
@keyframes move45deg {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(calc(600px * var(--dirX)), calc(-600px * var(--dirY))); /* Move far in random direction */
        opacity: 0; /* Fade out */
    }
}

/* Glitter Effect */
@keyframes glitterEffect {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.Logo_sky {
    color: #0ff;
}

.Logo_hood {
    color: #FBDC59    ;
}


.Logo a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
    /* font-weight: bold; */
    /* color: #0ff; */
    transition: transform 0.3s ease color 0.3s ease;
}

.Logo a:hover {
    transition-delay: 0.1s;
    transform: scale(1.03);
    /* text-shadow: 0 0 0.5px rgb(15, 194, 194), 0 0 10px rgb(0, 192, 192); */
}

.Nav_links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 ;
    margin: auto;
}

.Nav_links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 8px;
}

/* Default Navigation Link Style */
.Nav_links ul li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: Orbitron, sans-serif;
    font-size: 16px;
    padding: 8px 15px;
    color: white;
    transition: 0.3s;
}

.Nav_links ul li a:hover,
.Nav_links ul li a.active {  
    transform: scale(1.01);
    border: 0.1px solid #0ff;
    border-radius: 5px;
    color: #0ff;
}

.Pages {
    position: relative;
}

.Nav_links_pages {
    color: white;
    cursor: pointer;
}

/* Style dropdown arrow icon */
.Dropdown_icon_pages {
    color: #0ff; 
}

.Dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    /* background: rgba(0, 0, 0, 0.8); */
    backdrop-filter: blur(10px);
    width: 200px; /* Adjust as needed */
    padding: 10px 0;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 90; 
}


.Dropdown li {
    padding: 10px;
    text-align: center;
}

.Dropdown li a {
    color: white;
    display: block;
    padding: 5px 10px;
}

.Pages:hover .Dropdown {
    visibility: visible;
    opacity: 1;
}

/* Right Items Container */
.Right_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 4;
}

/* Login button */
.Header_login_btn a {
    display: inline-block;   /*  for transformation on hovering  */
    text-decoration: none;
    color: #FBDC59;
    font-family: Orbitron, sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.2s ease color 0.2s ease;
}

.Header_login_btn a:hover {
    color: #ccb13b;
    transform: scale(1.03);
}

.Right_items img {
    width: 25px;
    height: 25px;
}

/* SEARCH BOX */
.Search_box {
    display: flex;
    align-items: center;
    background: #111;
    padding: 2px;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid #2D2D66;
    box-shadow: 0px 0 10px #9c27b0;

}

.Search_box input {
    background: transparent;
    width: 150px;
    padding: 8px;
    font-size: 12px;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.Search_box input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.Search_box button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #0ff;
    font-size: 20px;
}

/* #search {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 99.4%;
    height: 36px;
    font-size: 1.2rem;
    color: white;
    background: black;
}

#search::placeholder {
    color: white;
    opacity: 0.8;
    font-style: italic;
} */







.Sidebar ul {
    display: flex    ;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: auto;
}

.Sidebar ul li {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: left;
    position: relative;
    padding: 10px 8px;
}

/* Default Navigation Link Style */
.Sidebar ul li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: Orbitron, sans-serif;
    font-size: 16px;
    padding: 8px 15px;
    color: white;
    transition: 0.3s;
}

.Sidebar ul li a:hover {  
    transform: scale(1.01);
    border: 0.1px solid #0ff;
    border-radius: 5px;
    color: #0ff;
}

.Pages {
    margin-left: 15px;
}

.Nav_links_pages {
    color: white;
    cursor: pointer;
}

.Right_items_Nav_links_pages {    
    color: white;
    cursor: pointer;
}

/* Style dropdown arrow icon */
.Dropdown_icon_pages {
    color: #0ff; 
}

.Dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    background: black;
    backdrop-filter: blur(5px);
    width: 200px; /* Adjust as needed */
    padding: 10px 0;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 90; 
}


.Dropdown li {
    padding: 10px;
    text-align: center;
}

.Dropdown li a {
    color: white;
    display: block;
    padding: 5px 10px;
}

.Pages:hover .Dropdown {
    visibility: visible;
    opacity: 1;
}

.Menu_icon {
    display: none;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8em;
    color: white;
    cursor: pointer;
    z-index: 1000 ;
}

.Sidebar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden */
    width: 300px;
    height: fit-content;
    backdrop-filter: blur(5px);
    background: black; 
    padding-top: 0px; /* Space for close button */
    transition: right 0.4s ease-in-out;
    z-index: 1000;
}

/* Active Sidebar (Open State) */
.Sidebar.Active {
    right: 0;
    height: 700px;
}

.Right_items_Header_login_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 22px;
    left: -10px;
    margin-bottom: 45px;
}

.Right_items_Header_login_btn a {
    display: inline-block;   /*  for transformation on hovering  */
    text-decoration: none;
    color: #FBDC59;
    font-family: Orbitron, sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.2s ease color 0.2s ease;
}

.Right_items_Header_login_btn a:hover {    
    color: #ccb13b;
    transform: scale(1.03);
}

/* Close Icon */
.Close_icon {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.Close_icon:hover {
    transform: rotate(180deg); 
}


/* ***************************************************************************** */
/* ***************************************************************************** */
/* HERO */ 
/* ***************************************************************************** */
/* ***************************************************************************** */


.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 700px;  
    overflow: hidden;
}

.bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.Hero-content {
    position: relative;
    color: white;
    z-index: 3;
    width: 80%;
    /* max-width: 600px; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.Hero h1 {
    font-family: 'Big Shoulders Stencil Text', sans-serif; /* For headings */
    text-transform: uppercase;
    font-size: 3rem;
    margin: 10px;
}

.Hero p {
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
    margin: 10px;
    color: #ccc;
}

.Hero-content_btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Orbitron, sans-serif;
    color: white;
    background: #2D2D66;
    text-decoration: none;
    border-radius: 5px;
}
.Hero-content_btn:hover {
    box-shadow: 0px 0px 10px #0fff;
    border: 1px solid #0ff;
    transform: scale(1.05);
    transition: 0.3s;
}



/* ******************************************************************************** */
/* ******************************************************************************** */
/* NEWS */
/* ******************************************************************************** */
/* ******************************************************************************** */


.News_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    /* min-height: 700px;   */
    padding: 50px 20px;
    background: #051019;
    color: white;
    overflow: hidden;
}

/* Container for animated stars inside the section */
/* .News_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png'); 
    Star texture
    opacity: 0.5;
    animation: starsMove 100s linear infinite;
    z-index: 1;
}

Star movement animation
@keyframes starsMove {
    from { background-position: 0 0; }
    to { background-position: 1000px 2000px; }
} */

.News_title {
    font-family: 'Big Shoulders Stencil Text', sans-serif; /* For headings */
    font-size: 3rem;
    font-weight: bold;
}

.News_subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #9ea2ff;
}


.News_article_section {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    /* height: 515px; */
    margin: 0 25px;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
}

.News_cards {
    display: flex;
    /* flex: 1 1 30%;   */
    /* Ensures three cards per row initially */
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 240px; /* Prevents them from shrinking too much */
    max-width: 31%;
    /* width: 31%; */
    min-height: 300px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.News_cards.Visible {
    opacity: 1;
    transform: translateY(0);
}

.News_cards_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    min-height: 300px; /* Prevents shrinking */
    /* width: 90%;
    height: 500px; */
    padding-top: 20px;
    overflow: hidden;
}

.News_cards_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fill the container while keeping aspect ratio */
}


.News_cards_img h5 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -30px;
    left: 0px;
    width: 70px;
    height: 70px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    background: white;
    color: black;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.News_article_blog {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start; /* Aligns content to the left */
    text-align: left;
    width: 85%;
    height: 100%;
    margin-top: 20px;
}

.News_article_blog h1 {
    padding: 5px;
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
}

.News_article_blog p {
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
    padding: 5px;
    color: #ccc;
}

.News_article_blog a {
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #ccc;
    cursor: pointer;
    z-index: 5;
}

.News_article_blog a:hover {
    color: #0ff;
    transform: scale(1.1);
}

.News_explore_btn {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: #2D2D66;
    border-radius: 5px;
    transform: background 0.3s;    
    cursor: pointer;
    z-index: 6;
}

.News_explore_btn:hover {
    box-shadow: 0px 0px 10px #0fff;
    border: 1px solid #0ff;
    transform: scale(1.05);
    transition: 0.3s;
}



/* ******************************************************************************** */
/* ******************************************************************************** */
/* Learn Ssection */
/* ******************************************************************************** */
/* ******************************************************************************** */


.Learn_section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 80px 20px;
    background: black;
    color: #fff;
    overflow: hidden; /* Prevents overflow */
}

.Learn_section::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 130%;
    height: 130%;
    background: url("../Img/Learn_bg_Planet_img.jpg") no-repeat center center/cover;
    background-size: cover;
    transform: translate(-50%, -50%) rotate(270deg);
    z-index: 1;
}

.Learn_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    padding: 50px 10px 10px 10px;
    z-index: 2;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.Learn_content.Visible {
    opacity: 1;
    transform: translateY(0);
}

.Learn_section h1 {
    font-family: 'Big Shoulders Stencil Text', sans-serif; /* For headings */
    font-size: 3rem;
    margin-bottom: 15px;
}

.Learn_section p {
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ccc;
}

.Learn_section ul {
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}

.Learn_content li {
    list-style: none;
    font-family: 'Exo 2', sans-serif;
    color: #ccc;
    font-size: 1rem;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

/* Animation for list items */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Learn_content_btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: #2D2D66;
    text-decoration: none;
    border-radius: 5px;
    transform: background 0.3s;
    cursor: pointer;
    position: relative;
}

.Learn_content_btn:hover {
    box-shadow: 0px 0px 10px #0fff;
    border: 1px solid #0ff;
    transform: scale(1.05);
    transition: 0.3s;
}



/* ******************************************************************************** */
/* ******************************************************************************** */
/* Grow with us */
/* ******************************************************************************** */
/* ******************************************************************************** */


.Grow_section {
    position: relative;
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #000000, #112B57);
    color: #fff;
    overflow: hidden;
  }



  /* Star Container */
@keyframes glitter {
    0% { opacity: 0.3; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.2); }
    100% { opacity: 0.3; transform: scale(1); }
}

/* Star Shapes */
.star {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    clip-path: polygon(50% 0%, 61% 38%, 100% 38%, 69% 62%, 80% 100%, 50% 75%, 20% 100%, 31% 62%, 0% 38%, 39% 38%);
    opacity: 0.3;
    animation: glitter 2s infinite ease-in-out alternate;
}

/* Random Star Placement */
.star:nth-child(1) { top: 10%; left: 20%; animation-duration: 2s; }
.star:nth-child(2) { top: 40%; left: 70%; animation-duration: 3s; }
.star:nth-child(3) { top: 80%; left: 30%; animation-duration: 2.5s; }
.star:nth-child(4) { top: 20%; left: 60%; animation-duration: 3.2s; }
.star:nth-child(5) { top: 70%; left: 80%; animation-duration: 2.8s; }
.star:nth-child(6) { top: 50%; left: 10%; animation-duration: 3.5s; }


  
  /* Title & Subtitle */
  .Grow_title {
    font-family: 'Big Shoulders Stencil Text', sans-serif; /* For headings */
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  .Grow_subtitle {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.125rem;
    max-width: 700px;
    margin: 0 auto 40px;
    color: #ccc;
    line-height: 1.6;
  }
  
  /* Cards Container */
  .Grow_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    align-items: start;
  }

  .Grow_cards a {
    text-decoration: none;
  }
  
  /* Individual Card */
  .Grow_card {
      position: relative;
      padding: 20px;
      border-radius: 10px;
      background: transparent;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .Grow_card.Visible {
    opacity: 1;
    transform: translateY(0);
}
  
  .Grow_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #0ff;
  }
  
  /* Card Icon */
  .Grow_card_icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  /* Card Heading */
  .Grow_card h3 {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #00c6ff; /* A futuristic teal-blue */
  }
  
  /* Card Text */
  .Grow_card p {
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
    color: #bbb;
    line-height: 1.5;
}  

.Grow_section_btn a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: #2D2D66;
    text-decoration: none;
    border-radius: 5px;
    transform: background 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 7;
}

.Grow_section_btn a:hover {
    box-shadow: 0px 0px 10px #0fff;
    border: 1px solid #0ff;
    font-size: 16px;
    transition: 0.3s;
}


/* ******************************************************************************* */
/* ******************************************************************************* */
/* About us */
/* ******************************************************************************* */
/* ******************************************************************************* */


.About_section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px;
    /* padding: 80px 0; */
    color: #fff;
    background: linear-gradient(to bottom, #112B57, #000000);
    overflow: hidden;
}

  /* Star Container */
  @keyframes glitter {
    0% { opacity: 0.3; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.2); }
    100% { opacity: 0.3; transform: scale(1); }
}

/* Star Shapes */
.star {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    clip-path: polygon(50% 0%, 61% 38%, 100% 38%, 69% 62%, 80% 100%, 50% 75%, 20% 100%, 31% 62%, 0% 38%, 39% 38%);
    opacity: 0.3;
    animation: glitter 2s infinite ease-in-out alternate;
}

/* Random Star Placement */
.star:nth-child(1) { top: 10%; left: 20%; animation-duration: 2s; }
.star:nth-child(2) { top: 40%; left: 70%; animation-duration: 3s; }
.star:nth-child(3) { top: 80%; left: 30%; animation-duration: 2.5s; }
.star:nth-child(4) { top: 20%; left: 60%; animation-duration: 3.2s; }
.star:nth-child(5) { top: 70%; left: 80%; animation-duration: 2.8s; }
.star:nth-child(6) { top: 50%; left: 10%; animation-duration: 3.5s; }


.About_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.About_image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

/* Image Styling */
.About_image img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    animation: moveBackForth 8s ease-in-out infinite;
}

@keyframes moveBackForth {
    0% { transform: translateY(0); }
    50% { transform: translateY(50px); }
    100% { transform: translateY(0); }
}

/* Text Content */
.About_content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    width: 50%;
    margin-right: 30px;
    z-index: 1;
}

.About_content h1 {
    font-family: 'Big Shoulders Stencil Text', sans-serif; /* For headings */
    font-size: 3rem;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.About_content p {
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
    padding: 0 30px 0 0;
    margin: 10px 10px 10px 0;
    line-height: 1.6;
    animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-30px); }
    to { opacity: 1; transform: translateX(0); }
}

/* Button Styling */
.About_content_btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: #2D2D66;
    text-decoration: none;
    border-radius: 5px;
    transform: background 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 8;
}

.About_content_btn:hover {
    box-shadow: 0px 0px 10px #0fff;
    border: 1px solid #0ff;
    font-size: 16px;
    transition: 0.3s;
}


/* ******************************************************************************** */
/* ******************************************************************************** */
/* Contact Us */
/* ******************************************************************************** */
/* ******************************************************************************** */
.Contact_section {
    text-align: center;
    padding: 60px 20px;
    color: #000; /* Black for contrast */
}

.Contact_heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00c6ff; /* Futuristic teal-blue */
}

.Contact_text {
    font-family: 'Jura', sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #9ea2ff; /* Subtitle color */
}

.Contact_subtext {
    font-size: 1em;
    color: #ccc; /* Long subtitle color */
    margin-bottom: 30px;
}

.Contact_info {
    font-size: 1em;
    color: #bbb;
    margin-bottom: 30px;
}

.Contact_input_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.Contact_input, .Contact_textarea {
    width: 45%;
    padding: 12px;
    border: 2px solid rgba(0, 255, 255, 0.6); /* Cyan primary color */
    background: transparent;
    color: #bbb; /* Input text color */
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
    outline: none;
    transition: 0.3s ease-in-out;
}

.Contact_input::placeholder, .Contact_textarea::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Placeholder color */
}

.Contact_input:focus, .Contact_textarea:focus {
    border-color: #0ff; /* Neon Cyan */
    box-shadow: 0 0 8px #0ff; /* Glowing effect */
}

.Contact_textarea {
    width: 90%;
    height: 120px;
    resize: none;
}

.Contact_btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #0ff; /* Primary color */
    border: none;
    color: black;
    font-size: 1.2em;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 6px; /* Slightly rounded */
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.8); /* Neon glow */
}

.Contact_btn:hover {
    background: rgba(0, 255, 255, 0.8); /* Lighter neon cyan */
    box-shadow: 0 0 12px rgba(0, 255, 255, 1); /* Stronger glow */
}





/* ******************************************************************************** */
/* ******************************************************************************** */
/* SUGGESTION BOX */
/* ******************************************************************************** */
/* ******************************************************************************** */
.Suggestion_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 80px 20px;
    background: black;
}

.Suggestion_section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;
}

.Suggestion_box {
    background: rgba(255, 255, 255, 0.1); /* Light transparent background */
    backdrop-filter: blur(8px); /* Apply blur to the background */
    -webkit-backdrop-filter: blur(8px); /* For Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
    border-radius: 10px; /* Rounded corners */
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    margin: 2rem auto;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    /* The animation is applied to the box-shadow for the glowing effect */
    animation: glowingBorder 5s linear infinite;
  }

    /* Define keyframes for the glowing border animation */
@keyframes glowingBorder {
    0% {
      box-shadow: 0 0 10px #F572D5, 0 0 20px #F572D5;
    }
    20% {
      box-shadow: 0 0 10px #B375ED, 0 0 20px #B375ED;
    }
    40% {
      box-shadow: 0 0 10px #2E0812, 0 0 20px #2E0812;
    }
    60% {
      box-shadow: 0 0 10px #3C387C, 0 0 20px #3C387C;
    }
    80% {
      box-shadow: 0 0 10px #2A1636, 0 0 20px #2A1636;
    }
    100% {
      box-shadow: 0 0 10px #F572D5, 0 0 20px #F572D5;
    }
  }
  
  .Suggestion_title {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .Suggestion_subtitle {
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 1rem;
  }

  #Suggestion_form {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oxanium', sans-serif;
  }
  
  #Suggestion_form textarea {
    width: 100%;
    height: 100px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Oxanium', sans-serif;
    resize: vertical;
    margin-bottom: 1rem;
  }
  
  #Suggestion_form input[type="email"] {
    font-family: 'Oxanium', sans-serif;
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .Submission_options {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  
  .Submission_options label {
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .Submit_btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: #2D2D66;
    text-decoration: none;
    border-radius: 5px;
    transform: background 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 7;
  }
  
  .Submit_btn:hover {
    box-shadow: 0px 0px 10px #0fff;
    border: 1px solid #0ff;
    font-size: 16px;
    transition: 0.3s;
  }
  
  /* Animation for suggestion box */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


/* ******************************************************************************* */
/* ******************************************************************************* */
/* FOOTER */
/* ******************************************************************************* */
/* ******************************************************************************* */

.Footer_section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    color: white;
    text-align: center;
    padding: 25px 0;
    bottom: 0;
    overflow: hidden;
}

/* Floating Space Particles */
/* .Footer_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #2D2D66 10%, transparent 80%);
    transform: translateX(-50%);
    animation: floatingGlow 6s infinite alternate ease-in-out;
    z-index: 0;
} */

/* Tagline */
.Footer_tagline {
    font-family: 'Big Shoulders Stencil Text', sans-serif; /* For headings */
    font-size: 2.5rem;
}

.Footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* gap: 70px; */
    /* padding: 10px; */
}


/* Social Links */
.Footer_social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    z-index: 2;
}

.Footer_social a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    color: #0ff;
    text-decoration: none;
    font-size: 1rem;
    font-family: Orbitron, sans-serif;
    transition: 0.3s;
}

.Footer_social a:hover {
    color: rgb(9, 175, 175);
    transform: scale(1.1);
}

/* Navigation Links */
.Footer_links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: left;
    margin: 20px 0;
    padding: 0 100px;
    list-style: none;
    z-index: 8;
}


.Footer_links::before,
.Footer_links::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px; /* Border width */
    height: 100%;
    background: linear-gradient(transparent, #0fff, transparent);
}

.Footer_links::before {
    left: 0;
}

.Footer_links::after {
    right: 0;
}

.Footer_links li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0;
}

.Footer_links a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: Orbitron, sans-serif;
    font-size: 1rem;
    transition: 0.3s;
}

.Footer_links a:hover {
    color: #0ff;
    transform: scale(1.1);
}

/* Contact Info */
.Footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: left;
    margin-left: 10px;
    opacity: 0.8;
    z-index: 1;
}

.Footer_contact h4 {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.Footer_contact p {
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
    padding: 10px 0;
}

.Footer_contact p i {
    color: #0ff;
}

.Footer_contact a {
    color: #0ff;
    text-decoration: none;
}

.Footer_contact a:hover {
    text-decoration: underline;
}

/* Bottom Section */
.Footer_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70px;
    margin: 10px 0;
    color: black;
    background-color: #0ff;
    font-size: 0.9rem;
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    opacity: 0.7;
}

.Footer_brand {
    font-weight: bold;
    color: #2D2D66;
}


/* Floating Glow Animation */
/* @keyframes floatingGlow {
    0% { transform: translateX(-50%) translateY(-20px) scale(1); }
    100% { transform: translateX(-50%) translateY(20px) scale(1.1); }
} */

/* Background Objects Animation */
.Footer_space_objects {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent interaction */
    overflow: hidden;
    z-index: 0;
}

/* General Space Objects */
.space_object {
    position: absolute;
    opacity: 0.5;
}

/* Stars move at 45-degree angle and fade smoothly */
.star {
    animation: glitterEffect 2s infinite alternate, move45deg 25s linear infinite;
}

/* Planets remain fixed but scale up/down */
.planet {
    animation: glitterEffect 3s infinite alternate, scaleUp 5s infinite alternate ease-in-out;
}

/* Glitter Effect */
@keyframes glitterEffect {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* Stars Move at 45 Degrees */
@keyframes move45deg {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(calc(600px * var(--dirX)), calc(-600px * var(--dirY))); /* Move far in random direction */
        opacity: 0; /* Fade out */
    }
}



/* ******************************************************************************* */
/* ******************************************************************************* */
/* Scroll to top button */
/* ******************************************************************************* */
/* ******************************************************************************* */

/* Floating Scroll-to-Top Button */
.ScrollTop_btn {
    display: flex; /* Ensure it's visible */
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 60px;
    background: none;
    border: none;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1000;
}

.ScrollTop_btn img {
    width: 100%;
    height: 100%;
    animation: ScrollTop_float 2s ease-in-out infinite alternate;
}

/* Smooth Floating Animation */
@keyframes ScrollTop_float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* Show Button When User Scrolls */
.Show_ScrollTop {
    opacity: 1 !important;
    visibility: visible !important;
}

